<div class="menu">
<ul id="menu-primary-nav" class="menu depth-0">
    <li id="menu-item-home" class="inactive-menu-item top-level">
        <a class="inactive-menu-item-link top-level-link" href="/home/" title="Home">Home</a>
    </li>
    <li id="menu-item-all-our-psychologists" class="active-menu-item top-level">
        <a class="active-menu-item-link top-level-link" href="/home/psychologist/" title="All our psychologists">All our psychologists</a>
    </li>
   <li id="menu-item-patient-experiences" class="active-menu-item top-level">
        <a class="active-menu-item-link top-level-link" href="/home/patient/" title="Patient experiences">Patient experiences</a>
    </li>
</ul>
</div>
<a href="/home/{{ entry.id }}/">{{ entry.entry_title }}</a>
<h1>{{ entry.title }}</h1>
<p>{{ entry.body_text | linebreaks}}</p>



